
@import url('https://fonts.googleapis.com/css2?family=Enriqueta:wght@400;500;600;700&family=Roboto+Slab:wght@100..900&family=Saira:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Enriqueta:wght@400;500;600;700&family=Roboto+Slab:wght@100..900&family=Saira:ital,wght@0,100..900;1,100..900&display=swap');
.mainBox{
    height: auto;
    padding: 25px;
    box-shadow: none;
}
.container1{
    min-height: 480px;
    display: grid;
    grid-template-columns: 370px 1fr;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    user-select: none;
}
.Box1{
    width: 100%;
    height: 480px;
    background-color: transparent;
    position: relative;
    overflow: hidden;
    cursor: pointer;
}
.Box1 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    inset: 0;
    opacity: 0;
    transition: opacity 1s ease-in-out;
    cursor: pointer;
}
.Box1 img.active{
    opacity: 1;
}
.Box2{
    padding: 5px;
}

.Box2 .intro,.Box2 .varity{
    height:45%;
    padding-left: 20px;
     outline: none;
    border: none;
    box-shadow: none;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    transform: none;
}
.Box2 .varity{
    max-width: 1200px; 
    height: 55%;
    padding: 5px;
    background-color: white;
    display:grid;
    grid-template-columns: 60px 1fr 60px;
}
.varity .var1,.varity .var3{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    color: orange;
    cursor: pointer;
}
.intro .head{
    display: inline-block;
    height: 130px;
    width: 700px;
    font-size: 3rem;
    letter-spacing: 2px;
    line-height: 1.2;
    padding: 10px;
    padding-top: 3px;
    font-family: "Roboto Slab", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color: rgb(103, 102, 102);
    cursor: text;
}
.intro mark{
    background-color: rgb(253, 220, 3);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    font-weight: 800;
}
.intro .para{
    display: inline-block;
    padding: 10px;
    font-size: 1.120rem;
    font-family: "Be Vietnam Pro", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: rgb(100, 99, 99);
    letter-spacing: 1px;
    cursor:text;
}
.varity .list{
    max-width: 1100px;
    width: 100%;
    height:100%;
    display:flex;
    justify-content:space-evenly;
    align-items: center;
}
.varity .list .item{
    height: 90%;
    width: 200px;
    border-radius: 10px;
    background-color: white;
    box-shadow: 0px 0px 5px rgba(162, 162, 160, 0.534);
}
.varity .list .item .itemContent1{
    display: grid;
    grid-template-columns: 150px 50px;
    height:70px;
}
.itemContent1 span:first-child p{
    font-size: 1.150rem;
    font-family: "Saira", sans-serif;
    font-weight: 600;
    font-style: normal;
    color: rgb(0, 0, 0);
    padding: 10px;
}
.itemContent1 span:first-child p mark{
    background-color: rgb(134, 133, 133);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    font-weight: 600;
}
.itemContent1 span:last-child{
    padding: 5px;
}
.itemContent1 span:last-child img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}