@import url('https://fonts.googleapis.com/css2?family=Enriqueta:wght@400;500;600;700&family=Roboto+Slab:wght@100..900&family=Saira:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Enriqueta:wght@400;500;600;700&family=Roboto+Slab:wght@100..900&family=Saira:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Enriqueta:wght@400;500;600;700&family=Roboto+Slab:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Odibee+Sans&display=swap');
.mainBox{
    height: auto;
    padding: 25px;
    box-shadow: none;
}
.container1{
    width: 100%;
    max-width: 1400px;
    min-height: 480px;
    display: grid;
    grid-template-columns: 350px 1fr;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    user-select: none;
}
.Box1{
    width: 100%;
    min-height: 480px;  
    background-color: transparent;
    position: relative;
    overflow: hidden;
    cursor: pointer;
}
.Box1 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
    position: absolute;
    inset: 0;
    opacity: 0;
    transition: opacity 1s ease-in-out;
    cursor: pointer;
}
.Box1 img.active{
    opacity: 1;
}
.Box2{
    padding: 5px;
}

.Box2 .intro,.Box2 .varity{
    height:45%;
    padding-left: 20px;
    outline: none;
    border: none;
    box-shadow: none;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    transform: none;
}
.Box2 .varity{
    max-width: 1200px; 
    height: 55%;
    padding: 5px;
    background-color: white;
    display:grid;
    grid-template-columns: 60px 1fr 60px;
}
.varity .var1,.varity .var3{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    color: orange;
    cursor: pointer;
}
.intro .head{
    display: inline-block;
    height: 130px;
    width: 700px;
    font-size: 3rem;
    letter-spacing: 2px;
    line-height: 1.2;
    padding: 10px;
    padding-top: 3px;
    font-family: "Roboto Slab", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color: rgb(103, 102, 102);
    cursor: text;
}
.intro mark{
    background-color: rgb(253, 220, 3);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    font-weight: 800;
}
.intro .para{
    display: inline-block;
    padding: 10px;
    font-size: 1.120rem;
    font-family: "Be Vietnam Pro", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: rgb(100, 99, 99);
    letter-spacing: 1px;
    cursor:text;
}
.varity .list{
    width: 100%;
    max-width: 1100px;;
    height:100%;
    display:flex;
    justify-content:space-evenly;
    align-items: center;
}
.varity .list .item{
    height: 90%;
    width: 200px;
    border-radius: 10px;
    box-shadow: 0px 0px 5px rgba(184, 184, 182, 0.534);
    display: grid;
    grid-template-rows: 70px 1fr;
    cursor: pointer;
}
.varity .list .item .images{
    width: 100%;
    max-height: 130px;
    border-radius:10px;
    transform: translate(-20px,10px);
}
.varity .list .item .itemContent1{
    display: grid;
    grid-template-columns: 150px 50px;
    height:70px;
}
.itemContent1 span:first-child p,.list2 .places .detail p{
    font-size: 1.150rem;
    font-family: "Saira", sans-serif;
    font-weight: 600;
    font-style: normal;
    color: rgb(0, 0, 0);
    padding: 10px;
}
.itemContent1 span:first-child p mark ,.list2 .places .detail mark{
    background-color: rgb(134, 133, 133);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    font-weight: 600;
}
.itemContent1 span:last-child{
    padding: 5px;
}
.itemContent1 span:last-child img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.container2{
    margin-top: 6rem;
    width: 100%;
    max-width: 1400px;
    display: grid;
    grid-template-rows:
    minmax(700px, auto)
    minmax(700px, auto)
    minmax(530px, auto);
    row-gap: 20px;
}
.container2 section{
  transform: none !important;
  box-shadow: none !important;
  transition: none !important;
  outline: none !important;
}
.container2 .Boxs1,.container2 .Boxs3{
    padding: 8px;
}
.Boxs1 .region,.Boxs2 .region,.Boxs3 .region{
    height: 100%;
    background-color: white;
    display: grid;
    grid-template-rows: 80px 1fr;
    gap: 6px;
}
.Boxs2 .region{
    display: grid;
    grid-template-rows: 130px 1fr;
    gap: 6px;
}
.region .name{
    display: flex;
    justify-content:flex-start;
    align-items:end;
}
.name .h1{
    display:block;
    font-family: "Enriqueta", serif;
    font-size: 3rem;
    font-weight: 700;
    color:rgb(68, 67, 67);
    letter-spacing: 5px;
    padding-left: 15px;
}
.region .loca{
   display:grid;
   grid-template-rows: 80px 1fr;
}
.loca .direct{
    display: flex;
    flex-direction: row;
    justify-content:flex-start;
    align-items: center;
}
.direct .d4{
   flex: 1;
   background-color: white;
   padding: 15px;
   display: flex;
   column-gap: 40px;
}
.d4 span {
  font-size: 1.25rem;
  font-family: "Enriqueta", serif;
  font-weight: 500;
  color: rgb(117, 116, 116);
  cursor: pointer;
  padding: 8px;
  display: inline-block;
  position: relative;
}

.d4 span::after {
  content: "";
  position: absolute;
  left: 50%;
  width: 0;
  bottom: -5px; 
  height: 2px;
  background-color: #ffd000;
  transform: translate(-50%,50%);
  transition: width 0.3s ease;
}
.d4 span.active::after {
  width: 90%; 
}
.d4 span.active{
    color:rgb(1, 1, 65);
}
.img .list{
    background-color: white;
    display: grid;
    grid-template-columns: 400px 1fr;
    height: 100%;
}
.list .list1{
  border-radius: 10px;
  position: relative;
}
.list .list2{
 border-radius: 15px;
 display: flex;
 flex-wrap: wrap;
 justify-content: center;
 align-items: center;
 column-gap:40px;
 row-gap: 40px;
} 
.list .list2 .places{
  width: 250px;
  height: 240px;
  background-color: white;
  border-radius: 10px;
  position: relative;
}
.list1 .detail,.list2 .detail{
    position: absolute;
    bottom: 0;
    left:0;
}
.list1 .detail p,.list2 .places .detail p,.tours .details p{
    display: block;
    font-size: 1.150rem;
    font-family: "Saira", sans-serif;
    font-weight: 600;
    font-style: normal;
    color: white;
    line-height: 0.600;
}
.list1 .detail p{
  line-height: 1.300;
  padding: 5px;
  padding-left:20px;
}
.container2 .Boxs2{
    padding:30px 10px;
}
.region .names {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 20px;
    padding-top: 20px;
}

.names .h1 ,.region .title .span1 .h1{
    font-family: "Enriqueta", serif;
    font-size: 3rem;
    font-weight: 700;
    color: rgb(67, 67, 67);
    letter-spacing: 5px;
    padding-left: 15px;
}
.names .h3 {
    font-size: 1.4rem;
    font-family: "Enriqueta", serif;
    font-weight: 700;
    color: rgb(248, 116, 8);
    padding-left: 15px;
}
.region .loca2{
    height: 100%;
    padding:1px;
}
.region .loca2 .places{
    min-height:420px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.places .list{
    flex:1;
    height: 380px;
    display: flex;
    align-items: center;
    padding:0px 20px;
    column-gap: 30px;
}
.list .tours{
    width: 220px;
    height: 330px;
    border-radius: 10px;
    display: grid;
    grid-template-rows: 260px 1fr;
    cursor: pointer;
}
.tours .images{
    width:100%;
    height: 100%;
}
.tours .images img,.item .images img,.list1 img,.list2 .places img{
    width:100%;
    height:100%;
    object-fit:cover;
    border-radius: 10px;
    cursor: pointer;
    transition: transform 0.5s ease; /* smooth zoom */
}
.tours .images img:hover,.item .images img:hover,.list1 img:hover,.list2 .places img:hover,.packs .box .card .pic img:hover{
    transform: scale(1.05);
}
.tours .details{
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.tours .details p{
    padding-left: 5px;
    line-height: 1.500;
    color: rgb(67,67,67);
}
.region .loca2 .pages{
    min-height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.pages .btns{
   display: flex;
   column-gap: 70px;
   cursor: pointer;
}
.pages .btns i,.varity .var1 i,.varity .var3 i{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    font-size: 2.2rem;
    color :orange;
    background-color: rgb(255, 255, 255);
    transition: all .3s ease-in-out;
}
.pages .btns i:hover,.varity .var1 i:hover,.varity .var3 i:hover{
    background-color: orange;
    color:white;
}
.slideFade {
  animation: slideFade 0.3s ease forwards;
}

@keyframes slideFade {
  from {
      opacity: 0; 
    }
  to  { 
      opacity: 1; 
   }
}
.Boxs3 .region{
    display: grid;
    grid-template-rows: 140px 1fr;
    gap: 6px;
}
.Boxs3 .region .title{
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap:5px;
    width: 100%;
}
.Boxs3 .region .title .span2{
    width:100%;
    display: grid;
    padding: 10px;
    grid-template-columns: repeat(auto-fit,minmax(130px, 1fr));
    gap:15px;
} 
.Boxs3 .region .title .span2 .packName{
    padding:10px;
    border: 1px solid rgba(189, 187, 187, 0.706);
    font-size: 1.2rem;
    font-family: "Enriqueta", serif;
    color:rgb(88, 86, 86);
    border-radius: 30px;
    cursor: pointer;
    text-align: center;
}
.packName.activebtn{
  border: 2px solid orange !important;
}
.Boxs3 .region .packs .box{
    min-height: 400px;
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* 4 columns */
    grid-template-rows: repeat(2, auto);   /* 2 rows */
    width: 100%;
    align-items: center;
    justify-items: center;
}
.Boxs3 .region .packs .box .card{
    width: 310px;
    height: 140px;
    background-color: #ffffff;
    border-radius: 10px;
    display: grid;
    grid-template-columns: 130px 1fr;
}
.Boxs3 .region .packs .box .card .pic{
  border-radius: 10px;
} 
.packs .box .card .pic img{
    width: 100%;
    height:100%;
    object-fit: cover;
    border-radius: 10px;
    cursor: pointer;
    transition: transform 0.5s ease;
}
.Boxs3 .region .packs .box .card .location{
  border-radius: 10px;
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
  row-gap: 10px;
  padding: 0px 10px;
}
.Boxs3 .region .packs .box .card .location .name{
    font-size: 1.2rem;
    font-family: "Enriqueta", serif;
    font-weight: 500;
    color:rgb(29, 29, 29);
    cursor: pointer;
    transition:all 0.3s ease;
}
.Boxs3 .region .packs .box .card .location .name:hover{
    color: orangered;
}
.packs .box .card .location .time{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
     font-size: 1rem;
     font-weight: 400;
     color:rgb(141, 138, 138);
}