.Home{
    width:100%;
    background-color:limegreen;
    display: flex;
    justify-content: center;
}
.innerHome{
    background-color:blue;
    max-width: 1400px;
    min-height: 100vh;
    width: 100%;
}






































































