.home{
    width:100%;
    display: flex;
    justify-content: center;
}
.innerHome{
    background-color:rgb(255, 255, 255);
    max-width: 1400px;
    min-height: 100vh;
}






































































