.home{
    width:100%;
    display: flex;
    justify-content: center;
}
.innerHome{
    background-color:rgb(228, 13, 13);
    max-width: 1400px;
    min-height: 100vh;
    width: 100%;
}






































































