.main {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  animation: fadeIn 1.5s ease forwards;
}

@keyframes fadeIn {
  from { opacity: 0; 
    transform: scaleX(1.03);
    filter: blur(10px); }
  to { 
    opacity: 1; 
    transform: scaleX(1); 
    filter: blur(0);}
}

.fadeOut {
  animation: fadeOut 1s ease forwards;
}

@keyframes fadeOut {
  from { 
    opacity: 1;
    transform: scaleX(1); 
    filter: blur(0);}
  to { 
    opacity: 0; 
    transform: scaleX(0.97); 
    filter: blur(10px);}
}

.logovideo {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}
