.main{
    max-width: 1400px;
    max-height: 80px;
    background-color: rgb(255, 255, 255);
    border-bottom: 5px solid #070606;
    box-shadow: offset 0px 2px 7px rgba(0, 0, 0, 0.25);
    display: grid;
    grid-template-columns: 100px 3fr 1.5fr;
}
.image{
    max-width: 100px;
    max-height: 100px;
    object-fit:cover;
    border:2px solid #070606;
    border-radius: 50px;
}